@charset "UTF-8";
/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 58.0%;
}

@media (max-width: 603.44828px) {
  .camera_container {
    padding-bottom: 350px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_container .square, .camera_container .square2 {
  position: absolute;
  overflow: hidden;
  height: 155px;
  z-index: 9;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.camera_container .square:before, .camera_container .square2:before {
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 2270px;
  display: block;
  position: relative;
  height: 500px;
  left: 0;
  right: 0;
}

.square {
  top: 0;
}
.square:before {
  background: #fed520;
  margin-top: -347px;
  bottom: 0;
}
@media (max-width: 1199px) {
  .square {
    top: -126px;
  }
}

.square2 {
  bottom: 0;
}
.square2:before {
  background: #f8f8f8;
  margin-top: 0;
  top: 0;
}
@media (max-width: 1199px) {
  .square2 {
    bottom: 400px;
  }
}

.cam_cnt1 img {
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
  position: absolute;
  bottom: 1px;
}
@media (max-width: 1199px) {
  .cam_cnt1 {
    padding-top: 500px;
  }
}

.cam_cnt {
  max-width: 770px;
  background: #ff6c1c;
  z-index: 11;
  position: absolute;
  width: 100%;
  bottom: 56px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  padding: 56px 84px 53px 85px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.camera_caption {
  position: absolute;
}
.camera_caption > div {
  height: 100%;
}

.camera_next, .camera_prev {
  position: absolute;
  top: 50%;
  margin-top: -54px;
  width: 79px;
  height: 79px;
  font-family: "FontAwesome";
  font-size: 29px;
  line-height: 79px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
  background: #fed520;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.camera_next:hover, .camera_prev:hover {
  background: #ff6c1c;
}

.camera_next {
  right: 78px;
}

.camera_next:before {
  content: "";
  margin-right: -6px;
}

.camera_prev {
  left: 78px;
}

.camera_prev:before {
  content: "";
  margin-left: -6px;
}

@media (max-width: 767px) {
  .camera_prev, .camera_next {
    display: none;
  }
}
